Repository TriBITSPub/TriBITS, pull requests merged in 2020-04, with the labels that each got.

#308 Resolve "snapshot-dir.py: Add --exclude Option"
  test/python_utils/SnapshotDir_UnitTests.py
  tribits/python_utils/SnapshotDir.py
Labels: component: python_utils, type: enhancement

#313 CMake: Backport CTEST_RESOURCE_SPEC_FILE
  test/ctest_driver/TribitsExampleProject/CMakeLists.txt
  tribits/devtools_install/0001-CTest-Add-CTEST_RESOURCE_SPEC_FILE-variable.patch
  tribits/devtools_install/install-cmake.py
Labels: component: devtools_install, type: enhancement

#315 Recursive chgrp and chmod for install (#314)
  test/core/CMakeLists.txt
  test/core/ExamplesUnitTests/CMakeLists.txt
  test/core/ExamplesUnitTests/GetCompilerPassthroughArgs.cmake
  test/core/ExamplesUnitTests/append_file_with_line.sh
  test/core/TestingFunctionMacro_UnitTests.cmake
  tribits/core/add_install_group_and_perms_fixups/CMakeLists.txt
  tribits/core/installation/cmake_pbp_install.cmake.in
  tribits/core/installation/set_installed_group_and_permissions.cmake.in
  tribits/core/package_arch/TribitsAddExecutable.cmake
  tribits/core/package_arch/TribitsAddInstallGroupAndPermsFixups.cmake
  tribits/core/package_arch/TribitsCMakePolicies.cmake
  tribits/core/package_arch/TribitsGlobalMacros.cmake
  tribits/core/package_arch/TribitsLibraryMacros.cmake
  tribits/core/utils/TribitsFilepathHelpers.cmake
  tribits/core/utils/UseCcacheIfExists.cmake
  tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  tribits/examples/TribitsExampleProject/packages/with_subpackages/b/CMakeLists.txt
  tribits/examples/TribitsExampleProject/packages/with_subpackages/b/stuff/exec_script.sh
  tribits/examples/TribitsExampleProject/packages/with_subpackages/b/stuff/regular_file.txt
Labels: component: core, type: enhancement
