Repository TriBITSPub/TriBITS, pull requests merged in 2022-11, with the labels that each got.

#537 Fix documentation for updated subpacakge test/example enable logic (#268)
  test/core/TestingFunctionMacro_UnitTests.cmake
  tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  tribits/core/package_arch/TribitsAddExecutableAndTest.cmake
  tribits/core/package_arch/TribitsAddTest.cmake
  tribits/core/package_arch/TribitsAddTestHelpers.cmake
  tribits/core/package_arch/TribitsPackageMacros.cmake
  tribits/doc/guides/users_guide/TribitsUsersGuide.rst
Labels: component: documentation, component: core

#538 Add a framework for issuing deprecation messages (#429)
  test/core/CMakeLists.txt
  test/core/TestingFunctionMacro_UnitTests.cmake
  tribits/core/package_arch/TribitsGlobalMacros.cmake
  tribits/core/utils/TribitsDeprecatedHelpers.cmake
  tribits/doc/guides/UtilsMacroFunctionDocTemplate.rst
Labels: type: enhancement, component: core

#540 Change HDF5 modern min ver for pkg config files to 1.10.9 (#533)
  tribits/common_tpls/FindTPLHDF5.cmake
Labels: component: common_tpls
